* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.indexheader {
    padding: 20px max(calc(50% - 720px), 5rem);
    height: 80px;
    background-color: #09212A;
}

.indexmain {
    padding: 20px max(calc(50% - 720px), 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #06171E;
    height: 81dvh;

    h1 {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 800;
        font-size: 56px;
        color: white;
        padding: 60px 0;
    }

    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 60px;
        width: 100%;
        gap: 20px;

        .preview_img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            background-color: white;
            border-radius: 20px;
        }

        .preview_img:hover {
            scale: 1.2;
        }
    }
}

.indexfooter {
    padding: 20px max(calc(50% - 720px), 5rem);
    height: 120px;
    background-color: #09212A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        color: #99ACB3;
        padding-top: 12px;
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400;
    }
}

dialog {
    border-radius: 30px;
    border: 0;
    max-width: 1440px;
    align-self: center;
    justify-self: center;
    background-color: #09212A;

    header {
        display: flex;
        justify-content: space-between;
        padding: 40px max(calc(50% - 720px), 4rem);

        h2 {
            font-family: 'Figtree';
            font-style: bold;
            font-weight: 700;
            font-size: 24px;
            color: white;
        }
    }

    main {
        padding: 20px max(calc(50% - 720px), 4rem);

        img {
            height: 575px;
            background-color: white;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        padding: 20px max(calc(50% - 720px), 4rem);

        p {
            font-family: 'Figtree';
            font-style: medium;
            font-weight: 500;
            font-size: 16px;
            color: white;
        }

        .button_wrapper {
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fd5b4f14;
            border-radius: 60px;
        }

        .button_wrapper:hover {
            background-color: #fd5b4f32;
        }

        .arrow_left {
            transform: rotate(180deg);
        }

    }

    .close_button {
        width: 32px;
        height: 32px;
        border-radius: 24px;
    }

    .close_button:hover {
        cursor: pointer;
        background-color: #124658;
    }

    .close_button:active {
        background-color: #0D3240;
    }

}

dialog::backdrop {
    opacity: 0.6;
    background-color: black;
}